<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="headers">
            <h2 id="status">Waiting for player..</h2>
            <h2>Room: {{ session.get('roomName') }}</h2>
            <h3>Opponent</h3>
        </div>

        <div class="container">
            <div class="row-labels">
                <div class="row-label">8</div>
                <div class="row-label">7</div>
                <div class="row-label">6</div>
                <div class="row-label">5</div>
                <div class="row-label">4</div>
                <div class="row-label">3</div>
                <div class="row-label">2</div>
                <div class="row-label">1</div>
            </div>

            <div class="board-with-col">
                <div class="chessboard">
                    {% for row in board %}
                        <div class="row">
                            {% for cell in row %}
                                <div class="{{cell[0]}}"></div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
        
                <div class="col-labels">
                    <div class="col-label">A</div>
                    <div class="col-label">B</div>
                    <div class="col-label">C</div>
                    <div class="col-label">D</div>
                    <div class="col-label">E</div>
                    <div class="col-label">F</div>
                    <div class="col-label">G</div>
                    <div class="col-label">H</div>
                </div>

                <div class="username">
                    <h3>{{ session.get('userId') }} </h3>
                </div>
            </div>
        </div>

        
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>